.header{
    display: flex;
    width: 100%;
    padding: 2rem;
    justify-content: space-between;
}
.header h1{
    color: #8d8d8d;
}
.search-bar {
    display: flex;
    justify-content: center;
    flex: 1;
}
.search-bar input{
    padding: 1rem;
    width: 50%;
    border-radius: 12px;
    font-size: 24px;
    margin-right: 1rem;
}
.search-bar img{
    width: 64px;
    height: 64px;
}
.search-bar img:hover{
    cursor: pointer;
    filter: brightness(125%);
}
.add-button button{
    background-color: #2e8eff;
    color: white;
    min-width: 200px;
    font-size: 24px;
    border: 0;
    padding: 1rem;
    border-radius:  12px;
}
.add-button button:hover{
    cursor: pointer;
    filter: brightness(125%);
}
@media screen and (max-width: 768px) {
    .header {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        padding: 1rem;
    }
    .header h1{
        font-size: 24px;
        margin-bottom: 1rem;
    }
    .header input {
        width: 100%;
        border-radius: 12px;
        font-size: 18px;
        margin-right: 1rem;    
    }
    .search-bar {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
    }
    .header img{
        width: 32px;
        height: 32px;
    }
    .search-bar input{
        width: 100%;
        font-size: 18px;
    }
    .add-button button{
        background-color: #2e8eff;
        color: white;
        min-width: 200px;
        font-size: 18px;
        border: 0;
        padding: 1rem;
        border-radius:  12px;
    }
  }